{% extends "Airbnb/base.html"%}

{% block content%}
{% load static%}
<!--	&lt;!&ndash; Header &ndash;&gt;-->
<!--    <div id="header">-->
<!--        <div class="container">-->
<!--                -->
<!--            &lt;!&ndash; Logo &ndash;&gt;-->
<!--                <div id="logo">-->
<!--                    <h1><a href="#">Monochromed</a></h1>-->
<!--                    <span>Design by TEMPLATED</span>-->
<!--                </div>-->
<!--            -->
<!--            &lt;!&ndash; Nav &ndash;&gt;-->
<!--                <nav id="nav">-->
<!--                    <ul>-->
<!--                        <li class="active"><a href="index.html">Homepage</a></li>-->
<!--                        <li><a href="threecolumn.html">Two Sidebars</a></li>-->
<!--                        <li><a href="twocolumn1.html">Left Sidebar</a></li>-->
<!--                        <li><a href="twocolumn2.html">Right Sidebar</a></li>-->
<!--                        <li><a href="onecolumn.html">No Sidebar</a></li>-->
<!--                    </ul>-->
<!--                </nav>-->

<!--        </div>-->
<!--    </div>-->
<!--&lt;!&ndash; Header &ndash;&gt;-->
<!--	&lt;!&ndash; Main &ndash;&gt;-->
<!--    <div id="main">-->
<!--        <div class="container">-->
<!--            <header>-->
<!--                <h2>Gravida nibh quis urna</h2>-->
<!--            </header>-->
<!--            <div class="row">-->
<!--                <div class="3u">-->
<!--                    <section>-->
<!--                        <a href="#" class="image full"><img src="{% static 'Airbnb/images/pics01.jpg' %}" alt="" /></a>-->
<!--                        <p>Quisque dictum. Pellentesque viverra  enim. Integer nisl risus, sagittis convallis, rutrum id, elementum.</p>-->
<!--                        <a href="#" class="button">Read More</a>-->
<!--                    </section>-->
<!--                </div>-->
<!--                <div class="3u">-->
<!--                    <section>-->
<!--                        <a href="#" class="image full"><img src="{% static 'Airbnb/images/pics11.jpg' %}" alt="" /></a>-->
<!--                        <p>Pellentesque viverra  enim. Tristique ante ut risus. Quisque dictum. Integer sagittis convallis elementum.</p>-->
<!--                        <a href="#" class="button">Read More</a>-->
<!--                    </section>-->
<!--                </div>-->
<!--                <div class="3u">-->
<!--                    <section>-->
<!--                        <a href="#" class="image full"><img src="{% static 'Airbnb/images/pics12.jpg' %}" alt="" /></a>-->
<!--                        <p>Pellentesque viverra  enim. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum.</p>-->
<!--                        <a href="#" class="button">Read More</a>-->
<!--                    </section>-->
<!--                </div>-->
<!--                <div class="3u">-->
<!--                    <section>-->
<!--                        <a href="#" class="image full"><img src="{% static 'Airbnb/images/pics13.jpg' %}" alt="" /></a>-->
<!--                        <p>Tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis elementum.</p>-->
<!--                        <a href="#" class="button">Read More</a>-->
<!--                    </section>-->
<!--                </div>-->
<!--            </div>-->
<!--            -->
<!--        </div>-->
<!--    </div>-->
<!--&lt;!&ndash; Main &ndash;&gt;-->



	<!-- Main -->
		<div id="main">
			<div class="container">
				<header>
					<h2>Propiedades</h2>
				</header>
				<div class="row">
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'Airbnb/images/pics01.jpg' %}" alt="" /></a>
							<p>la casa cuenta con: asdsadsad</p>
							<p>la casa cuenta con: asdsadsad</p>
							<a href="#" class="button">More</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'Airbnb/images/pics01.jpg' %}" alt="" /></a>
							<p>Pellentes1321321321321321313.213que</p>
							<p>Pellentes1321321321321321313.213que</p>
							<a href="#" class="button">More</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'Airbnb/images/pics01.jpg' %}" alt="" /></a>
							<p>Pellentesque viverra  enim. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum.</p>
							<a href="#" class="button">More</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'Airbnb/images/pics01.jpg' %}" alt="" /></a>
							<p>Tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis elementum.</p>
							<a href="#" class="button">More</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'Airbnb/images/pics01.jpg' %}" alt="" /></a>
							<p>Tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis elementum.</p>
							<a href="#" class="button">More</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'Airbnb/images/pics01.jpg' %}" alt="" /></a>
							<p>Tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis elementum.</p>
							<a href="#" class="button">More</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'Airbnb/images/pics01.jpg' %}" alt="" /></a>
							<p>Tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis elementum.</p>
							<a href="#" class="button">More</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'Airbnb/images/pics01.jpg' %}" alt="" /></a>
							<p>Tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis elementum.</p>
							<a href="#" class="button">More</a>
						</section>
					</div>
				</div>
			</div>
		</div>
	<!-- Main -->


{%endblock%}